$space-scale: (
        0: 0,
        1: 4px,
        2: 8px,
        3: 12px,
        4: 16px,
        5: 24px,
        6: 32px,
        7: 48px
);

@function space($key) {
  @return map-get($space-scale, $key);
}

@function suf($k) {
  @return if(type-of($k) == 'number', $k, $k);
}
