@use '../settings/index' as *;

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

@mixin respond-to($key) {
  $bp: breakpoint($key);
  @if $bp != null and $bp != 0 {
    @media (min-width: $bp) {
      @content;
    }
  } @else {
    @content;
  }
}
