include @views/mixins/btn.pug

- const logoTitle = 'webpack starter kit';

header.header
  .header__row
    .header__col
      .logo
        img.logo__icon(src='@images/logo.svg' alt='logo' loading='lazy')
        span.logo__title #{logoTitle}
    .header__col
      +btn(
        null,
        'icon',
        'icon-medium',
        {
          type: 'button',
          ariaLabel: 'Toggle theme',
          id: 'themeToggle'
        },
        'light_mode'
      )
