@use '../settings' as *;

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--bg-subtle);
  background-clip: padding-box;
  border: 1px solid var(--border-subtle);
  border-radius: $border-radius;
  transition: border-color .15s ease, box-shadow .15s ease;
  box-sizing: border-box;

  &:focus {
    color: var(--text-secondary);
    border-color: var(--border-interactive);
    box-shadow: var(--shadow-outline);
    outline: none;
  }

  &::placeholder {
    color: var(--text-disabled);
    opacity: .6;
  }
}

/* textarea */
.form-textarea {
  @extend .form-control;
  min-height: 120px;
  resize: vertical;
}

/* select */
.form-select {
  @extend .form-control;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--slate-900) 50%),
  linear-gradient(135deg, var(--slate-900) 50%, transparent 50%);
  background-position: calc(100% - 1.25rem) calc(1rem + 2px), calc(100% - .75rem) calc(1rem + 2px);
  background-size: .45rem .45rem, .45rem .45rem;
  background-repeat: no-repeat;
  padding-right: 2.25rem;
}

/* checkbox and radio */
.form-check {
  display: flex;
  align-items: center;
  gap: .5rem;

  input[type="checkbox"],
  input[type="radio"] {
    width: 1rem;
    height: 1rem;
    margin: 0;
    accent-color: var(--brand-500);
  }

  label {
    margin: 0;
    font-size: .95rem;
  }
}

.form-check-input {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid var(--border-subtle);
  background-color: var(--bg-subtle);
  cursor: pointer;
  transition: all .2s ease;

  &:focus {
    outline: none;
    border-color: var(--border-interactive);
    box-shadow: var(--shadow-outline);
  }

  &:checked {
    background-color: var(--brand-500);
    border-color: var(--brand-500);
  }
}

/* Checkbox */
input[type="checkbox"].form-check-input {
  &:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 4px;
    height: 8px;
    border: solid var(--bg-subtle);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

/* Radio */
input[type="radio"].form-check-input {
  border-radius: 50%;

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--bg-subtle);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-label {
  display: inline-block;
  margin-bottom: .35rem;
  font-size: .95rem;
  color: var(--text-primary);
  cursor: pointer;
  line-height: 1.4;

  &.disabled {
    color: var(--text-disabled);
    cursor: not-allowed;
  }

  &.required::after {
    content: " *";
    color: var(--brand-500);
    font-weight: 600;
  }
}

/* form group */
.form-group {
  margin-bottom: .75rem;
}

.form-help {
  font-size: .875rem;
  color: var(--text-disabled);
  margin-top: .25rem;
}
