// layout
$container-max: 1360px;
$columns: 12;
$gutter: 15px;
$border-radius: .375rem;

// layout settings
$aside-ratio: 1;
$main-ratio: 3;
$aside-min: 300px;
$main-min: 320px;
$total-ratio: $aside-ratio + $main-ratio;
$available-width: calc(#{$container-max} - #{calc(#{$gutter} * 2)}); // when layout have gap
