svg(
  xmlns="http://www.w3.org/2000/svg"
  style="display:none"
)
  include ../../assets/icons/icon-light-mode.svg
  include ../../assets/icons/icon-dark-mode.svg
  include ../../assets/icons/icon-close.svg
  include ../../assets/icons/icon-settings.svg
  include ../../assets/icons/icon-info.svg
  include ../../assets/icons/icon-menu.svg
  include ../../assets/icons/icon-arrow-up.svg
  include ../../assets/icons/icon-arrow-right.svg
  include ../../assets/icons/icon-arrow-down.svg
  include ../../assets/icons/icon-arrow-left.svg
