extends _simple

append head
  link(rel='stylesheet' href='@styles/main.scss')

append head
  script(defer src='@scripts/app.ts')

block body
  include _header

  main.main-simple
    block content

  include _footer
  include _sprite
