.card {
  color: var(--text-on-brand);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  word-break: break-all;
}
