extends @views/layout/index.pug

block variables
  - title = 'Forms'

append style
  link(rel='stylesheet' href='./style.scss')

block content
  section.section
    h1.title-h1.m-b-4 Forms
    form.form
      .form-group
        label.form-label(for='name') Name
        input.form-control(id='name', type='text', placeholder='Enter your name')

      .form-group
        label.form-label(for='email') Email
        input.form-control(id='email', type='email', placeholder='example@mail.com')

      .form-group
        label.form-label(for='message') Message
        textarea.form-textarea(id='message', placeholder='Type message...')

      .form-group
        label.form-label(for='topic') Topic
        select.form-select(id='topic')
          option(value='') Choose topic
          option(value='support') Support
          option(value='feedback') Feedback
          option(value='other') Other

      .form-group.form-check
        input.form-check-input(type='checkbox', id='agree')
        label.form-label(for='agree') I agree all terms

      .form-group
        span.form-label Communication method
        .form-check
          input.form-check-input(type='radio', id='contact-email', name='contact', value='email')
          label.form-label(for='contact-email') Email
        .form-check
          input.form-check-input(type='radio', id='contact-phone', name='contact', value='phone')
          label.form-label(for='contact-phone') Phone
