@use 'variables' as *;

.footer {
  grid-area: footer;
  background-color: var(--bg-surface);
  box-shadow: var(--shadow-outline);
  color: var(--text-secondary);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $container-max;
    margin: 0 auto;
    padding: calc($gutter * 2) $gutter;
    gap: 10px;
  }

  &__text {
    &--bold {
      font-weight: 700;
    }
  }
}
