.icon {
  &--small {
    width: 1rem;
    font-size: 1rem;
  }

  &--medium {
    width: 1.125rem;
    font-size: 1.125rem;
  }

  &--large {
    width: 1.25rem;
    font-size: 1.25rem;
  }

  // button with icon only
  &--icon {
    &-small {
      overflow: hidden;
      width: 1.3125rem;
      font-size: 1.3125rem;
    }

    &-medium {
      overflow: hidden;
      width: 1.75rem;
      font-size: 1.75rem;
    }

    &-large {
      overflow: hidden;
      width: 2rem;
      font-size: 2rem;
    }
  }
}
