// layout
$container-max: 1320px;
$columns: 12;
$gutter: 15px;

// layout settings
$aside-ratio: 1;
$main-ratio: 3;
$aside-min: 300px;
$main-min: 320px;
$total-ratio: $aside-ratio + $main-ratio;
$available-width: calc(#{$container-max} - #{calc(#{$gutter} * 2)}); // when layout have gap

// breakpoints
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

// typography
$font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$base-font-size: 14px;
$border-radius: .375rem;

// palette
$color-primary: #1890ff;
$color-primary-100: #e6f7ff;
$color-primary-200: #bae7ff;
$color-primary-300: #91d5ff;
$color-primary-400: #69c0ff;
$color-primary-500: #40a9ff;
$color-primary-600: #1890ff;
$color-primary-700: #096dd9;
$color-secondary: #64748b;
$color-success: #52c41a;
$color-danger: #ff4d4f;
$color-warning: #faad14;
$color-info: #1890ff;
$color-light: #f0f2f5;
$color-muted: #d9d9d9;
$color-dark: #001529;
$white: #ffffff;
$black: #000000;
