extends @views/layout/simple.pug

block variables
  - title = '404 Page Not Found'

append style
  link(rel='stylesheet' href='./style.scss')

block content
  section.section
    h1.title-h1 404
    h2.title-h2 Page Not Found
    a.btn.btn--outline.btn--large(href='index.html') Go Home
